<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi, I'm Dan Carmody-Morse. I am a data scientist, physicist, writer, and....</p>
      </div>
      <div class="col-lg-4">
        <p>My interests are rooted in the narrative of science and exploration of the natural world, delving deep into the intricate relationships between ecology and technology. I aim to re-establish a profound connection to nature, starting from the ground up, by offering fresh perspectives on the natural beauty found in our immediate surroundings.
         </p><p>Through the utilization of digital tools and data processing, I strive to create personalized conservation art and products. We harness publicly available data to explore the interconnections between the natural world and the built environment, unveiling innovative ways to forge personal relationships between individuals and their surroundings. My goal is to breathe life into the natural world, making it vivid and tangible through creative applications of technology.
         </p><p>
           I harness technology as a conduit to connect and comprehend the natural world, unraveling the intricate web of its interaction with the technological realm. My artistic tools serve as a means to foster a closer relationship with nature, facilitating bird and plant identification, learning the names of natural features, discovering historical narratives, reading the environment, understanding ecological interactions, and promoting observation and awareness.
           </p><p>
           A key aspect of this artistic expression involves visualizing natural superstructures atop familiar human constructions. I aim to depict animal migration paths, connected fragments of forests, animal territories and wanderings, water features, and solar-fed growth. By integrating these natural elements onto familiar human landscapes, we highlight the inherent interdependence between the two realms, offering a glimpse into the intricate harmony of nature and technology.
             </p><p>
             Through our artistic vision, I aspire to ignite a collective consciousness about the importance of our natural world and inspire a profound sense of awe and wonder. I invite individuals to embark on a journey of exploration, self-discovery, and stewardship, encouraging a harmonious coexistence with our environment. </p>
      </div>
    </div>
  </div>
</section>
